body {
  background-color: #f8f8f8 !important;
}

.bg-blue {
  background-color: #191129;
}

#file-div {
  color: white;
  background-color: #191129;
  width: 70%;
  margin: auto;
  padding: 2em;
  border-radius: 20px;
}

#file-div h2 {
  text-align: center;
}

#container {
  padding: 8em 10em;
  font-size: large;
}

select,
#diameter {
  font-size: 20px !important;
  width: 100%;
}

.navbar-nav {
  padding-left: 2em !important;
}

nav {
  position: fixed !important;
  top: 0;
  width: 100%;
}

#submit {
  border-radius: 8px;
  border: 0;
  color: white;
  background-color: #211d54;
  font-weight: 700;
  width: 100%;
  margin: auto;
  padding: 10px;
  font-size: 20px;
}

#submit:hover {
  background-color: #242a68;
  transition-duration: 200ms;
}
