body {
  background-color: #f8f8f8 !important;
}

.bg-blue {
  background-color: #191129;
}

.main-div {
  color: white;
  background-color: #191129;
  width: 70%;
  margin: auto;
  padding: 2em;
  border-radius: 20px;
}

.main-div h2 {
  text-align: center !important;
}

#container {
  padding: 8% 10%;
  font-size: large;
}

select,
#diameter {
  font-size: 20px !important;
  width: 100%;
}

.navbar-nav {
  padding-left: 2em !important;
}

.nav-container {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 10;
}

#submit,
#return {
  display: inline-block;
  border-radius: 8px;
  border: 0;
  color: white;
  background-color: #2f2983;
  font-weight: 700;
  width: 100%;
  margin: auto;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}

#submit:hover,
#return:hover {
  background-color: #323ec7;
  transition-duration: 200ms;
}
