{% extends "home_base.html" %}
{% block body %}
<form id="cal-form" action="{{ url_for('result') }}" method="POST" enctype="multipart/form-data">
{{ cal_form.csrf_token() }}
<div class="main-div">
<h2>Upload Your Continuum Text File, We've Got You Covered.</h2>
<br>
{{ cal_form.file(class_="form-control form-control-lg") }}
<br>
<h4>{{ cal_form.src_name.label }}</h4>
{{ cal_form.src_name }}
<br>
<br>
<h4>{{ cal_form.diameter.label }}</h4>
{{ cal_form.diameter }}
<br>
<br>
{{ cal_form.submit }}
</div>
</form>


{% endblock %}