{% extends "base.html" %}
{% block body %}

{% block calculation %}
{% endblock %}

{% block result %}
{% endblock %}
<br>
The aperture efficiency is given by
$$A_{eff} = \eta_a \frac{\pi}{4} D^2$$
<br>
$$\eta_a = \frac{3520}{D^2}\frac{T_a^\prime}{S_\nu}$$
where D is the diameter in meters, \(T_a^\prime\) is the corrected antenna temperature in Kelvin, and \(S_\nu\) is the spectral flux density in Jansky.
<br>
The spectral flux density for each source is frequency dependent, it was obtained by fitting the data with a
polynomial function of the form
$$\log S = a_0 + a_1 \log (\nu_G) + a_2 [\log (\nu_G)]^2 + a_3 [\log (\nu_G)]^3 + \cdots$$

The fitted coefficients for the 20 sources are as follows:
<table>
    <tr>
        <th>Source</th>
        <th>$$a_0$$</th>
        <th>$$a_1$$</th>
        <th>$$a_2$$</th>
        <th>$$a_3$$</th>
        <th>$$a_4$$</th>
        <th>$$a_5$$</th>
        <th>$$\chi^2$$</th>
        <th>Frequency Range</th>
    </tr>
    {% for key, values in coeff_dict.items() %}
    <tr>
        <td>{{ key }}</td>
        <td>{{ values["a0"] }}</td>
        <td>{{ values["a1"] }}</td>
        <td>{{ values["a2"] }}</td>
        <td>{{ values["a3"] }}</td>
        <td>{{ values["a4"] }}</td>
        <td>{{ values["a5"] }}</td>
        <td>{{ values["chi2"] }}</td>
        <td>{{ values["freq_range"] }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}